<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">

</head>

<body>
<!-- Navbar -->

<nav class="navbar navbar-expand-lg" role="navigation" style="margin-top:3em;">

  <div class="navbar-header d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo-1.png" alt="logo"
           style="max-width: 200px;max-height:200px;margin-left:10em;margin-top:-2em;"/></a>
    <div class="w-100 text-right">
      <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
    </div>

  </div>
  <div id="navbarResponsive" [ngClass]="{'show':navbarOpen}"
       class="collapse navbar-collapse flex-grow-1 text-right show"
       style="font-family: Arial;font-size:2em;margin-top:18px;color:black">

    <ul class="nav navbar-nav ml-auto flex-nowrap">
      <li class="nav-item"><a href="/homepage" class="pill">Home</a></li>
      <li class="nav-item"><a href="/aboutus" class="pill">About Us</a></li>
      <li class="nav-item"><a href="#" class="pill"><img src="assets/img/man-with-beard-in-green-t-shirt-50.png"
                                                         style="margin-top:-1.3em"/>Tom</a></li>
    </ul>
  </div>

</nav>
<!--<header>
  <h1><em>Omaro</em> - Your Wardrobe</h1>
</header>-->
<div class="wrapper">
  <div class="gallery">
    <div *ngIf="images">
     <ul>
      <div *ngFor="let image of images">
        <li><img [src]="image.pic"></li>
      </div>
     </ul>
    </div>
  </div>
  <p class="property">For more styles you can find <a href="https://www.zalando.de/herrenbekleidung-jacken/"><span
    style="font-weight: bold;font-size:1em;">Here</span></a></p>

  <p class="attribution">Best online closet from <a routerLink="/homepage" href="#">OMARO</a> with love <img
    src="assets/img/heart.png" style="width:2%;"/></p>

</div>

</body>

</html>
