@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* nav */

nav a
{
    /* position: relative; */
    /* width: 33.333%; */
    /* display: table-cell; */
    text-align: center;
    /* color: black; */
    color:#5b5656;
    /* text-decoration: none; */
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
    background-color: white;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
    
}

nav a:nth-child(1):before
{
    background-color:  #00e2ff;
}

nav a:nth-child(1):after
{
    background-color: #89ff00;
}



/* #indicator
{
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;

    border-radius: 5px;
    transition: 0.2s ease left;
} */

nav a:hover
{
    /* color:#B0EBCE; */
    color: #06c17f;
    background-color: #fff!important;

}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}


.navbar-toggler:not(.collapse) .navbar-toggler-icon {
  display: block;
  /* border-color:#06c17f; */
  border-color: #008000;
  background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
         
  /* border:1px solid #06c17f !important; */
} 