<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


    <style type="text/css">

        .title{
            font-family: 'Roboto', sans-serif!important;
            color:gray!important;
        }

        .post{
            font-family: 'Nunito', sans-serif;
            color:gray!important;
        }

        .demo{
            padding: 9em 0;
        }

        .our-team{
            padding: 30px 0 40px;
            /* background: #f7f5ec; */
            /* background: #f3f3f3; */
            background:#f8f8f8;
            text-align: center;
            overflow: hidden;
            position: relative;
        }
        .our-team .pic{
            display: inline-block;
            width: 130px;
            height: 130px;
            margin-bottom: 50px;
            z-index: 1;
            position: relative;
        }
        .our-team .pic:before{
            content: "";
            width: 100%;
            height: 0;
            border-radius: 50%;
            background: #B0EBCE;
            position: absolute;
            bottom: 135%;
            right: 0;
            left: 0;
            opacity: 0.2;
            transform: scale(3);
            transition: all 0.3s linear 0s;
        }
        .our-team:hover .pic:before{ height: 100%; }
        .our-team .pic:after{
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #B0EBCE;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .our-team .pic img{
            width: 100%;
            height: auto;
            border-radius: 50%;
            transform: scale(1);
            transition: all 0.9s ease 0s;
        }
        .our-team:hover .pic img{
            /* box-shadow: 0 0 0 14px #f7f5ec; */
            box-shadow: 0 0 0 14px #06c17f;
            transform: scale(0.7);
        }
        .our-team .team-content{ margin-bottom: 30px; }
        .our-team .title{
            font-size: 22px;
            font-weight: 700;
            color: #4e5052;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin-bottom: 5px;
        }
        .our-team .post{
            display: block;
            font-size: 15px;
            color: #4e5052;
            text-transform:capitalize;
        }
        .our-team .social{
            width: 100%;
            padding: 0;
            margin: 0;
            background: #B0EBCE;
            position: absolute;
            bottom: -100px;
            left: 0;
            transition: all 0.5s ease 0s;
        }
        .our-team:hover .social{ bottom: 0; }
        .our-team .social li{ display: inline-block; }
        .our-team .social li a{
            display: block;
            padding: 10px;
            font-size: 17px;
            color: #fff;
            transition: all 0.3s ease 0s;
        }
        .our-team .social li a:hover{
            color: #B0EBCE;
            /* background: #f7f5ec; */
            background:#06c17f;
        }
        @media only screen and (max-width: 990px){
            .our-team{ margin-bottom: 30px; }
        }


    </style>
</head>
<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg" role="navigation" style="margin-top:3em;" >

        <div class="navbar-header d-flex flex-grow-1">
          <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
          <a class="navbar-brand" href="#">
            <img src="assets/img/logo-1.png" alt="logo" style="max-width: 200px;max-height:200px;margin-left:10em;margin-top:-2em;"/></a>
          <div class="w-100 text-right" >
          <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler"></span>
          </button>
        </div>

        </div>
        <div id = "navbarResponsive" [ngClass]="{'show':navbarOpen}" class="collapse navbar-collapse flex-grow-1 text-right show" style="font-family: Arial;font-size:2em;margin-top:18px;color:black">

            <ul class="nav navbar-nav ml-auto flex-nowrap">
                <li class="nav-item"><a href="/homepage" class="pill">Home</a></li>
                <li class="nav-item"><a href="/aboutus2" class="pill">About Us</a></li>
                <li class="nav-item"><a href="#" class="pill"><img src="assets/img/man-with-beard-in-green-t-shirt-50.png" style="margin-top:-1.3em" />Tom</a></li>
            </ul>
        </div>

    </nav>

    <div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/img/tom.png" style="width: 80%;margin-top:1.2em;">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Tom Nguyen</h3>
                            <span class="post">Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/img/hermann.jpg" style="width: 80%;margin-top:0.9em;">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Hermann Schöllkopf</h3>
                            <span class="post">Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/img/dennis.png" style="width: 80%;margin-top:1.2em;">
                        </div>
                        <div class="team-content">
                            <h3 class="title">Dennis Di Pasquale</h3>
                            <span class="post">Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="assets/img/yu.png" style="width:80%;margin-top:1.2em;">
                            <!-- <img src="https://img.icons8.com/bubbles/100/000000/brown-hair-business-lady-in-red-shirt.png"> -->
                        </div>
                        <div class="team-content">
                            <h3 class="title">Yu Yu</h3>
                            <span class="post">Developer</span>
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
