<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">

</head>
<body>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg" role="navigation" style="margin-top:3em;">

  <div class="navbar-header d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo-1.png" alt="logo"
           style="max-width: 200px;max-height:200px;margin-left:10em;margin-top:-2em;"/></a>
    <div class="w-100 text-right">
      <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
    </div>

  </div>
  <div id="navbarResponsive" [ngClass]="{'show':navbarOpen}"
       class="collapse navbar-collapse flex-grow-1 text-right show"
       style="font-family: Arial;font-size:2em;margin-top:18px;color:black">

    <ul class="nav navbar-nav ml-auto flex-nowrap">
      <li class="nav-item"><a href="/homepage" class="pill">Home</a></li>
      <li class="nav-item"><a href="/aboutus" class="pill">About Us</a></li>
      <li class="nav-item"><a href="#" class="pill"><img src="assets/img/man-with-beard-in-green-t-shirt-50.png"
                                                         style="margin-top:-1.3em"/>Tom</a></li>
    </ul>
  </div>

</nav>

<div class="container">
  <h1 style="font-size:5em;font-weight: bold;color:#5b5656;margin:1em 0;">Outfit of the Day</h1>
</div>

<div class="container">

  <div class="row">
    <div *ngIf="images">
      <div class="col-md-3 mx-auto my-5" *ngFor="let image of images">
        <div class="column">
          <div class="card">
            <div class="container">
              <img class="card-img-top" [src]="image.pic">
            </div>
            <div class="card-body">
              <p>
                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img
                  src="assets/img/costume.png" class="tzdx"><span class="category">{{getTag()}}</span></button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col" id="colOne">
      <button routerLink="/upload" class="btn btn-lg btn-primary btn-block icon-button"><img
        src="assets/img/electronics.png" class="tzdx"><span class="category">Upload</span></button>
    </div>
    <div class="col" id="colTwo">
      <button class="btn btn-lg btn-primary btn-block icon-button" value="FindOutfit" (click)="findOutfit()"><img
        src="assets/img/costume.png" class="tzdx"><span class="category">Rematch</span></button>
    </div>
    <div class="col" id="colThree">
      <button (click)="toggleCollapse()" class="btn btn-lg btn-primary btn-block icon-button"
              style="margin-top:0.85em"><img src="assets/img/network.png" class="tzdx"><span
        class="category">Instagram</span>
      </button>
    </div>
  </div>

</div>


<div *ngIf="!isCollapsed" class="container">

  <div class="col-sm-3">
    <iframe style="width:70%;" class="ins" width="420" height="350"
            src="https://www.instagram.com/p/B7aivV-h4U7/embed" frameborder="0"></iframe>
  </div>
  <div class="col-sm-3">
    <iframe style="width:70%;" class="ins" width="420" height="350"
            src="https://www.instagram.com/p/B7jgbbWBAD1/embed" frameborder="0"></iframe>
  </div>
  <div class="col-sm-3">
    <iframe style="width:70%;" class="ins" width="420" height="340"
            src="https://www.instagram.com/p/B7mE1eZgCol/embed" frameborder="0"></iframe>
  </div>
  <div class="col-sm-3">
    <iframe style="width:70%;" class="ins" width="420" height="340"
            src="https://www.instagram.com/p/B3FOhlDBFOs/embed" frameborder="0"></iframe>
  </div>

</div>


</body>
</html>







