<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>


  </head>

  <body style="overflow:scroll;">

<!--Navbar with logo-->
  <nav class="navbar navbar-expand-lg" role="navigation" style="margin-top:3em;" >

      <div class="navbar-header d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand" href="#">
          <img src="assets/img/logo-1.png" alt="logo" style="max-width: 200px;max-height:200px;margin-left:10em;margin-top:-2em;"/></a>
        <div class="w-100 text-right" >
        <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon my-toggler"></span>
        </button>
      </div>

      </div>
      <div id = "navbarResponsive" [ngClass]="{'show':navbarOpen}" class="collapse navbar-collapse flex-grow-1 text-right show" style="font-family: Arial;font-size:2em;margin-top:18px;color:black">

          <ul class="nav navbar-nav ml-auto flex-nowrap">
              <li class="nav-item"><a href="/homepage" class="pill">Home</a></li>
              <li class="nav-item"><a href="/aboutus" class="pill">About Us</a></li>
              <li class="nav-item"><a href="#" class="pill"><img src="assets/img/man-with-beard-in-green-t-shirt-50.png" style="margin-top:-1.3em" />Tom</a></li>
          </ul>
      </div>

  </nav>


<!--Upload & Outfit & Weather -->

<div class="btn-toolbar container" role="toolbar" id="ou">
	<div class="btn-group col col-6 col-lg-3 col-md-auto d-block" style="margin:3em 10em;">
		<button routerLink="/outfit" id="btn1" type="button" class="btn corner-button"><span style="color:#06c17f;">Outfit</span></button>

  </div>

  <div class="btn-group col col-6 col-lg-3 col-md-auto d-block" style="margin:3em 2em 3em 10em;">
		<button routerLink="/upload" id="btn2" type="button" class="btn corner-button"><span style="color:#06c17f;">Upload</span></button>

	</div>

  <div class="btn-group col col-6 col-lg-3 col-md-auto d-block" style="padding:5em 12em;margin-left: -12em;">
    <!-- <a class="weatherwidget-io" href="https://forecast7.com/en/48d1411d58/munich/" data-label_1="MUNICH" data-label_2="WEATHER" data-font="Roboto" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="pure" style="margin-left:5em; width:229px">WEATHER</a> -->
    <!-- <img src="https://www.theweather.com/wimages/fotoc2761cc16996e7e531d1a57b975b2960.png" style="margin-top:-5.5em;margin-left:3em;"> -->
    <!-- <a target="_blank" href="https://www.booked.net/weather/munich-18260"><img src="https://w.bookcdn.com/weather/picture/14_18260_1_1_b0ebce_118_b0ebce_706c61_006c17_3_b0ebce_706c61_1_6.png?scode=2&domid=w209&anc_id=15014"  alt="booked.net" style="margin-top:-3em;margin-left:12em;"/></a> -->
    <a target="_blank" href="https://www.booked.net/weather/munich-18260"><img src="https://w.bookcdn.com/weather/picture/11_18260_1_1_FF9600_98_FF9600_0bba4e_0bba4e_3_FF9600_0bba4e_1_6.png?scode=2&domid=w209&anc_id=34263"  alt="booked.net" style="margin-top:-3em;margin-left:12em;"/></a>
  </div>


</div>



<!--Wardrobe-->
<div class="container" id="closet">


  <!--mat-grid-->
  <div class="main-content">

    <ngx-gridster [options]="gridsterOptions" [draggableOptions]="gridsterDraggableOptions" (reflow)="onReflow($event)"
              (optionsChange)="optionsChange($event)" #gridster1 class="dashboard">

        <!--coats,jackets and vests-->
        <ngx-gridster-item
                       [options]="itemOptions"
                       [dragAndDrop]="widgets[0].dragAndDrop" [resizable]="widgets[0].resizable"
                       [(x)]="widgets[0].x" [(y)]="widgets[0].y"
                       [(xSm)]="widgets[0].xSm" [(ySm)]="widgets[0].ySm"
                       [(xMd)]="widgets[0].xMd" [(yMd)]="widgets[0].yMd"
                       [(xLg)]="widgets[0].xLg" [(yLg)]="widgets[0].yLg"
                       [(xXl)]="widgets[0].xXl" [(yXl)]="widgets[0].yXl"
                       [(w)]="widgets[0].w" [(h)]="widgets[0].h"
                       [(wSm)]="widgets[0].wSm" [(hSm)]="widgets[0].hSm"
                       [(wMd)]="widgets[0].wMd" [(hMd)]="widgets[0].hMd"
                       [(wLg)]="widgets[0].wLg" [(hLg)]="widgets[0].hLg"
                       [(wXl)]="widgets[0].wXl" [(hXl)]="widgets[0].hXl"
                       (change)="itemChange($event, gridster1)">

                       <div class="panel-body">
                            <div class="col" id="colOne">
                              <p>
                              <button (click)="toggleCollapse()" class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/002-coat.png" class="tzdx"><span class="category" id="downCoats">Down Coats<br></span></button>

                              <button  routerLink="/carousel" class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/050-jacket.png" class="tzdx"><span class="category" id="jackets">Jackets<br></span></button>

                              <button  class="btn btn-lg btn-primary btn-block icon-button" type="button" style="border-radius: 15px;"><img src="assets/img/003-vest.png" class="tzdx"><span class="category" id="vests">Vests</span></button>
                            </p>
                            </div>

                      </div>
        </ngx-gridster-item>

        <!--trousers,pants and shorts-->
        <ngx-gridster-item
                        [options]="itemOptions"
                        [dragAndDrop]="widgets[1].dragAndDrop" [resizable]="widgets[1].resizable"
                        [(x)]="widgets[1].x" [(y)]="widgets[1].y"
                        [(xSm)]="widgets[1].xSm" [(ySm)]="widgets[1].ySm"
                        [(xMd)]="widgets[1].xMd" [(yMd)]="widgets[1].yMd"
                        [(xLg)]="widgets[1].xLg" [(yLg)]="widgets[1].yLg"
                        [(xXl)]="widgets[1].xXl" [(yXl)]="widgets[1].yXl"
                        [(w)]="widgets[1].w" [(h)]="widgets[1].h"
                        [(wSm)]="widgets[1].wSm" [(hSm)]="widgets[1].hSm"
                        [(wMd)]="widgets[1].wMd" [(hMd)]="widgets[1].hMd"
                        [(wLg)]="widgets[1].wLg" [(hLg)]="widgets[1].hLg"
                        [(wXl)]="widgets[1].wXl" [(hXl)]="widgets[1].hXl"
                        (change)="itemChange($event, gridster1)">

                        <div class="panel-body">

                              <div class="col" id="colTwo">
                                <p>
                                <button class="btn btn-lg btn-primary  btn-block icon-button" type="button"><img src="assets/img/010-sweatpants.png" class="tzdx"><span class="category">Trousers</span></button>

                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/Pants.png" class="tzdx"><span class="category">Pants</span></button>

                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/026-shorts.png" class="tzdx"><span class="category">Shorts</span></button>
                              </p>
                            </div>

                        </div>
        </ngx-gridster-item>

        <!--denim jackets and jeans-->
        <ngx-gridster-item
                        [options]="itemOptions"
                        [dragAndDrop]="widgets[2].dragAndDrop" [resizable]="widgets[2].resizable"
                        [(x)]="widgets[2].x" [(y)]="widgets[2].y"
                        [(xSm)]="widgets[2].xSm" [(ySm)]="widgets[2].ySm"
                        [(xMd)]="widgets[2].xMd" [(yMd)]="widgets[2].yMd"
                        [(xLg)]="widgets[2].xLg" [(yLg)]="widgets[2].yLg"
                        [(xXl)]="widgets[2].xXl" [(yXl)]="widgets[2].yXl"
                        [(w)]="widgets[2].w" [(h)]="widgets[2].h"
                        [(wSm)]="widgets[2].wSm" [(hSm)]="widgets[2].hSm"
                        [(wMd)]="widgets[2].wMd" [(hMd)]="widgets[2].hMd"
                        [(wLg)]="widgets[2].wLg" [(hLg)]="widgets[2].hLg"
                        [(wXl)]="widgets[2].wXl" [(hXl)]="widgets[2].hXl"
                        (change)="itemChange($event, gridster1)">

                        <div class="panel-body">

                          <div class="col" id="colThree">
                              <p>
                                  <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/034-denim jacket.png" class="tzdx"><span class="category">Denim Jackets</span></button>
                                  <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/020-jeans.png" class="tzdx"><span class="category">Jeans</span></button>
                              </p>
                          </div>

                        </div>
        </ngx-gridster-item>

        <!--sneakers,shoes and boots-->
        <ngx-gridster-item
                        [options]="itemOptions"
                        [dragAndDrop]="widgets[3].dragAndDrop" [resizable]="widgets[3].resizable"
                        [(x)]="widgets[3].x" [(y)]="widgets[3].y"
                        [(xSm)]="widgets[3].xSm" [(ySm)]="widgets[3].ySm"
                        [(xMd)]="widgets[3].xMd" [(yMd)]="widgets[3].yMd"
                        [(xLg)]="widgets[3].xLg" [(yLg)]="widgets[3].yLg"
                        [(xXl)]="widgets[3].xXl" [(yXl)]="widgets[3].yXl"
                        [(w)]="widgets[3].w" [(h)]="widgets[3].h"
                        [(wSm)]="widgets[3].wSm" [(hSm)]="widgets[3].hSm"
                        [(wMd)]="widgets[3].wMd" [(hMd)]="widgets[3].hMd"
                        [(wLg)]="widgets[3].wLg" [(hLg)]="widgets[3].hLg"
                        [(wXl)]="widgets[3].wXl" [(hXl)]="widgets[3].hXl"
                        (change)="itemChange($event, gridster1)">

                        <div class="panel-body">

                          <div class="col" id="colFour">
                              <p>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/028-sneakers.png" class="tzdx"><span class="category">Sneakers</span></button>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/Shoes.png" class="tzdx"><span class="category">Shoes</span></button>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/030-boots.png" class="tzdx"><span class="category">Boots</span></button>
                              </p>
                          </div>

                        </div>
        </ngx-gridster-item>

        <!--sweaters and hoodies-->
        <ngx-gridster-item
                        [options]="itemOptions"
                        [dragAndDrop]="widgets[4].dragAndDrop" [resizable]="widgets[4].resizable"
                        [(x)]="widgets[4].x" [(y)]="widgets[4].y"
                        [(xSm)]="widgets[4].xSm" [(ySm)]="widgets[4].ySm"
                        [(xMd)]="widgets[4].xMd" [(yMd)]="widgets[4].yMd"
                        [(xLg)]="widgets[4].xLg" [(yLg)]="widgets[4].yLg"
                        [(xXl)]="widgets[4].xXl" [(yXl)]="widgets[4].yXl"
                        [(w)]="widgets[4].w" [(h)]="widgets[4].h"
                        [(wSm)]="widgets[4].wSm" [(hSm)]="widgets[4].hSm"
                        [(wMd)]="widgets[4].wMd" [(hMd)]="widgets[4].hMd"
                        [(wLg)]="widgets[4].wLg" [(hLg)]="widgets[4].hLg"
                        [(wXl)]="widgets[4].wXl" [(hXl)]="widgets[4].hXl"
                        (change)="itemChange($event, gridster1)">

                        <div class="panel-body">

                          <div class="col" id="colFive">
                              <p>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/Sweater.png" class="tzdx"><span class="category">Sweaters</span></button>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/006-hoodie.png" class="tzdx"><span class="category">Hoodies</span></button>
                              </p>
                          </div>

                        </div>
        </ngx-gridster-item>

        <!--shirts, tshirts and polos-->
        <ngx-gridster-item
                        [options]="itemOptions"
                        [dragAndDrop]="widgets[5].dragAndDrop" [resizable]="widgets[5].resizable"
                        [(x)]="widgets[5].x" [(y)]="widgets[5].y"
                        [(xSm)]="widgets[5].xSm" [(ySm)]="widgets[5].ySm"
                        [(xMd)]="widgets[5].xMd" [(yMd)]="widgets[5].yMd"
                        [(xLg)]="widgets[5].xLg" [(yLg)]="widgets[5].yLg"
                        [(xXl)]="widgets[5].xXl" [(yXl)]="widgets[5].yXl"
                        [(w)]="widgets[5].w" [(h)]="widgets[5].h"
                        [(wSm)]="widgets[5].wSm" [(hSm)]="widgets[5].hSm"
                        [(wMd)]="widgets[5].wMd" [(hMd)]="widgets[5].hMd"
                        [(wLg)]="widgets[5].wLg" [(hLg)]="widgets[5].hLg"
                        [(wXl)]="widgets[5].wXl" [(hXl)]="widgets[5].hXl"
                        (change)="itemChange($event, gridster1)">

                        <div class="panel-body">

                          <div class="col" id="colSix">
                              <p>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/045-shirt.png" class="tzdx"><span class="category">Shirts</span></button>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/008-tshirt.png" class="tzdx"><span class="category">T-shirts</span></button>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/023-polo.png" class="tzdx"><span class="category">Polos</span></button>
                              </p>
                          </div>

                        </div>
        </ngx-gridster-item>

        <!--hats, glooves-->
        <ngx-gridster-item
                        [options]="itemOptions"
                        [dragAndDrop]="widgets[6].dragAndDrop" [resizable]="widgets[6].resizable"
                        [(x)]="widgets[6].x" [(y)]="widgets[6].y"
                        [(xSm)]="widgets[6].xSm" [(ySm)]="widgets[6].ySm"
                        [(xMd)]="widgets[6].xMd" [(yMd)]="widgets[6].yMd"
                        [(xLg)]="widgets[6].xLg" [(yLg)]="widgets[6].yLg"
                        [(xXl)]="widgets[6].xXl" [(yXl)]="widgets[6].yXl"
                        [(w)]="widgets[6].w" [(h)]="widgets[6].h"
                        [(wSm)]="widgets[6].wSm" [(hSm)]="widgets[6].hSm"
                        [(wMd)]="widgets[6].wMd" [(hMd)]="widgets[6].hMd"
                        [(wLg)]="widgets[6].wLg" [(hLg)]="widgets[6].hLg"
                        [(wXl)]="widgets[6].wXl" [(hXl)]="widgets[6].hXl"
                        (change)="itemChange($event, gridster1)">

                        <div class="panel-body">

                          <div class="col" id="colSeven">
                              <p>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/Hat.png" class="tzdx"><span class="category">Hats</span></button>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/039-mittens.png" class="tzdx"><span class="category">Gloves</span></button>
                              </p>
                          </div>

                        </div>
        </ngx-gridster-item>

        <!--blazers,cardigans-->
        <ngx-gridster-item
                        [options]="itemOptions"
                        [dragAndDrop]="widgets[7].dragAndDrop" [resizable]="widgets[7].resizable"
                        [(x)]="widgets[7].x" [(y)]="widgets[7].y"
                        [(xSm)]="widgets[7].xSm" [(ySm)]="widgets[7].ySm"
                        [(xMd)]="widgets[7].xMd" [(yMd)]="widgets[7].yMd"
                        [(xLg)]="widgets[7].xLg" [(yLg)]="widgets[7].yLg"
                        [(xXl)]="widgets[7].xXl" [(yXl)]="widgets[7].yXl"
                        [(w)]="widgets[7].w" [(h)]="widgets[7].h"
                        [(wSm)]="widgets[7].wSm" [(hSm)]="widgets[7].hSm"
                        [(wMd)]="widgets[7].wMd" [(hMd)]="widgets[7].hMd"
                        [(wLg)]="widgets[7].wLg" [(hLg)]="widgets[7].hLg"
                        [(wXl)]="widgets[7].wXl" [(hXl)]="widgets[7].hXl"
                        (change)="itemChange($event, gridster1)">

                        <div class="panel-body">

                          <div class="col" id="colEight">
                              <p>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/004-blazer.png" class="tzdx"><span class="category">Blazers</span></button>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/009-cardigan.png" class="tzdx"><span class="category">Cardigans</span></button>
                              </p>
                          </div>

                        </div>
        </ngx-gridster-item>

        <!--sportsclothes,sleeveless shirts-->
        <ngx-gridster-item
                        [options]="itemOptions"
                        [dragAndDrop]="widgets[8].dragAndDrop" [resizable]="widgets[8].resizable"
                        [(x)]="widgets[8].x" [(y)]="widgets[8].y"
                        [(xSm)]="widgets[8].xSm" [(ySm)]="widgets[8].ySm"
                        [(xMd)]="widgets[8].xMd" [(yMd)]="widgets[8].yMd"
                        [(xLg)]="widgets[8].xLg" [(yLg)]="widgets[8].yLg"
                        [(xXl)]="widgets[8].xXl" [(yXl)]="widgets[8].yXl"
                        [(w)]="widgets[8].w" [(h)]="widgets[8].h"
                        [(wSm)]="widgets[8].wSm" [(hSm)]="widgets[8].hSm"
                        [(wMd)]="widgets[8].wMd" [(hMd)]="widgets[8].hMd"
                        [(wLg)]="widgets[8].wLg" [(hLg)]="widgets[8].hLg"
                        [(wXl)]="widgets[8].wXl" [(hXl)]="widgets[8].hXl"
                        (change)="itemChange($event, gridster1)">

                        <div class="panel-body">

                          <div class="col" id="colEight">
                              <p>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/016-shirt.png" class="tzdx"><span class="category">Sportclothes</span></button>
                                <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/012-sleeveless shirt.png" class="tzdx"><span class="category">Sleeveless shirts</span></button>
                              </p>
                          </div>

                        </div>
        </ngx-gridster-item>
      </ngx-gridster>
    </div>

  <!-- <div class="d-block">
      <div class="row">
          <div class="col" id="colOne">
            <button (click)="toggleCollapse()" class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/002-coat.png" class="tzdx"><span class="category" id="downCoats">Down Coats<br></span></button>

            <button  class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/050-jacket.png" class="tzdx"><span class="category" id="jackets">Jackets<br></span></button>

            <button  routerLink="/carousel" class="btn btn-lg btn-primary btn-block icon-button" type="button" style="border-radius: 15px;"><img src="assets/img/003-vest.png" class="tzdx"><span class="category" id="vests">Vests</span></button>

            </div>

          <div class="col" id="colTwo">
            <button class="btn btn-lg btn-primary  btn-block icon-button" type="button"><img src="assets/img/010-sweatpants.png" class="tzdx"><span class="category">Trousers</span></button>

            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/017-pants.png" class="tzdx"><span class="category">Pants</span></button>

            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/026-shorts.png" class="tzdx"><span class="category">Shorts</span></button>

        </div>
      </div>
  </div>
  <div>

      <div class="row">

          <div class="col" id="colThree">
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/034-denim jacket.png" class="tzdx"><span class="category">Denim Jackets</span></button>
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/020-jeans.png" class="tzdx"><span class="category">Jeans</span></button>
          </div>


          <div class="col" id="colFour">
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/028-sneakers.png" class="tzdx"><span class="category">Sneakers</span></button>
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/027-shoes.png" class="tzdx"><span class="category">Shoes</span></button>
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/030-boots.png" class="tzdx"><span class="category">Boots</span></button>
          </div>


          <div class="col" id="colFive">
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/047-sweater.png" class="tzdx"><span class="category">Sweaters</span></button>
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/006-hoodie.png" class="tzdx"><span class="category">Hoodies</span></button>
          </div>


          <div class="col" id="colSix">
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/045-shirt.png" class="tzdx"><span class="category">Shirts</span></button>
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/008-tshirt.png" class="tzdx"><span class="category">T-shirts</span></button>
            <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/023-polo.png" class="tzdx"><span class="category">Polos</span></button>
          </div>
      </div>
</div>

<div>
  <div class="row">

      <div class="col" id="colSeven">
        <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/037-hat.png" class="tzdx"><span class="category">Hats</span></button>
        <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/039-mittens.png" class="tzdx"><span class="category">Gloves</span></button>
      </div>

      <div class="col" id="colEight">
        <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/004-blazer.png" class="tzdx"><span class="category">Blazers</span></button>
        <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/009-cardigan.png" class="tzdx"><span class="category">Cardigans</span></button>
      </div>

      <div class="col" id="colNine">
        <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/016-shirt.png" class="tzdx"><span class="category">Sportclothes</span></button>
        <button class="btn btn-lg btn-primary btn-block icon-button" type="button"><img src="assets/img/012-sleeveless shirt.png" class="tzdx"><span class="category">Sleeveless shirts</span></button>
      </div>

  </div>

</div> -->

</div>

<!-- <div class="container-fluid">
<div class="col-sm-3"><iframe class="ins" width="320" height="400" src="https://www.instagram.com/p/B7aivV-h4U7/embed" frameborder="0"></iframe></div>
<div class="col-sm-3"><iframe class="ins" width="320" height="400" src="https://www.instagram.com/p/B7jgbbWBAD1/embed" frameborder="0"></iframe></div>
<div class="col-sm-3"><iframe class="ins" width="320" height="400" src="https://www.instagram.com/p/B7mE1eZgCol/embed" frameborder="0"></iframe></div>
<div class="col-sm-3"><iframe class="ins" width="320" height="400" src="https://www.instagram.com/p/B3FOhlDBFOs/embed" frameborder="0"></iframe></div>
</div> -->

<!-- <footer class="footer">
  <div class="container">
    <span class="text-muted">Omaro</span>
  </div>
</footer> -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>

</html>
