html body{ 
    text-align:center;
    /* display:block; */

}


/* nav */


nav a
{
    /* position: relative; */
    /* width: 33.333%; */
    /* display: table-cell; */
    text-align: center;
    /* color: black; */
    color:#5b5656;
    /* text-decoration: none; */
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
    background-color: white;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
    
}

nav a:nth-child(1):before
{
    background-color:  #00e2ff;
}

nav a:nth-child(1):after
{
    background-color: #89ff00;
}


nav a:hover
{
    /* color:#B0EBCE; */
    color: #06c17f;
    background-color: #fff!important;

}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 34%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 70%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}


.navbar-toggler:not(.collapse) .navbar-toggler-icon {
  display: block;
  /* border-color:#06c17f; */
  border-color: #008000;
  background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
         
  /* border:1px solid #06c17f !important; */
} 



#ytd_link
{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -200px;
    display: block;
    width: 160px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 0 auto;
    background-color:black;
    border-radius: 2px;
    animation: showYTDlink 1.5s ease 3s forwards;
}

@keyframes showYTDlink
{
    0%{ bottom: -200px; }
    100%{ bottom: 20px; }
}

/*dh-navbar-inverse.css data
*/
.tzdx{
  width:2em;
  color:#B0EBCE;
  margin-top:-0.5em;
  margin-right:0.5em;
}


.corner-button {
  font-family: 'Lato', sans-serif!important;
  font-weight: bold!important;
  letter-spacing: .5rem!important;
  cursor: pointer!important;
  background: transparent!important;
  background-color: #fff!important;
  text-align: center!important;
  vertical-align: middle!important;
  border: 0.5rem solid currentColor!important;
  padding: 1.5rem 2rem!important;
  font-size: 2.5rem!important;
  color: #06c17f!important;
  position: relative!important;
  transition: color 0.3s!important;
  /* border-radius: 15px; */
}
.corner-button:hover {
  /* color:gray; */
  /* color: pink!important; */
  /* color: #06c17f; */
  color:#a9eec2!important;

}
.corner-button:hover::before {
  width: 0!important;
  background-color: #fff!important;

}
.corner-button:hover::after {
  height: 0!important;
}
.corner-button:active {
  border-width: 0.25rem!important;
}
.corner-button span {
  position: relative!important;
  z-index: 2!important;
}
.corner-button::before, .corner-button::after {
  content: ''!important;
  position: absolute!important;
  background:white!important;

  z-index: 1!important;
  transition: all 0.3s!important;
}
.corner-button::before {
  width: calc(100% - 3rem)!important;
  height: calc(101% + 1rem)!important;
  top: -0.5rem!important;
  left: 50%!important;
  -webkit-transform: translateX(-50%)!important;
          transform: translateX(-50%)!important;
}
.corner-button::after {
  height: calc(100% - 3rem)!important;
  width: calc(101% + 1rem)!important;
  left: -0.5rem!important;
  top: 50%!important;
  -webkit-transform: translateY(-50%)!important;
          transform: translateY(-50%)!important;
}


.category {
  font-size:1.5em;
  /* font-weight: bold; */
}

 /**basic css data*/
  #ou {
    flex-direction: row;
  }

  .btn.btn-lg.btn-primary.btn-block.icon-button {
    margin: 0.5em;
    color:gray;
    background-color: white;
    border-color: gray;
    border-radius: 15px;
    border-width: 1.5px;
  }

  #closet {
    width:100%;
    /* height: 40em; */
    /* max-height: 60em; */

    /* margin: 5em 9em; */
    /* margin:20px 170px; */
    font-size: 2em;
    text-align: center;
    overflow:auto;
  }

  #colOne {
    height:10em;
    padding:1em;
  }

  #colTwo {
    height:10em;
    padding:1em;
  }

  #colThree {
    height:8em;
    padding:0.5em;
  }

  #colFour {
    height:8em;
    padding:0.5em;
  }

  #colFive {
    height:8em;
    padding:0.5em;
  }

  #colSix {
    height:8em;
    padding:0.5em;
  }

  #colSeven {
    height:6em;
    padding:1em;
  }

  #colEight {
    height:6em;
    padding:1em;
  }

  #colNine {
    height:6em;
    padding:1em;
  }


  #colOne:hover {
    
    background-color: #B0EBCE;

  }

  #colTwo:hover {
    background-color: #B0EBCE;
  }

  #colThree:hover {
    background-color: #B0EBCE;
  }

  #colFour:hover {
    background-color: #B0EBCE;
  }

  #colFive:hover {
    background-color: #B0EBCE;
  }

  #colSix:hover {
    background-color: #B0EBCE;
  }

  #colSeven:hover {
    background-color: #B0EBCE;
  }

  #colEight:hover {
    background-color: #B0EBCE;
  }

  #colNine:hover {
    background-color: #B0EBCE;
  }

/*iframe
*/

/* iframe.webform-frame {
  width:5em;
  margin-bottom:3em;

} */

/* iframe.ins {
margin-top: 20px;
margin-bottom: 30px;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;
-moz-transform:rotate(20deg);
-webkit-transform:rotate(20deg);
-o-transform:rotate(20deg);
-ms-transform:rotate(20deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
} */



#close {
    border:none;
    position: absolute;
    top: 0.1em;
    right: 31em;
    color:black;
    /* font-size: 1em; */
    font-weight: bold;
    transition: 0.3s;
    /* background-color: #fff; */
  }

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* @media (min-width:768px) {
	.container {
    float:left;
    margin:0 auto;
	}
}
 
@media (min-width:992px) {
	.container {
    float:left;
    margin:0 auto;
	}
}
 
@media (min-width:1200px) {
	.container {
    float:left;
    margin:0 auto;
	}
}
@media (min-width:1200px) {
	.container {
    float:left;
    margin:0 auto;
	}
} */
app-homepage {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  position: relative;
  flex: 0;
  font-size: 22px;
  padding: 0 20px;
  height: 50px;
  margin: 0;
}

.omnibar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  flex: 0 1 auto;
  width: 100%;
  /*overflow: hidden;*/
}

.toolbar {
  position: relative;
  padding-left: 10px;
}

.widgetbar {
  position: relative;
  padding: 10px 0;
  width: 275px;
}

.main-content {
  margin-top: 1%;
  width: 100%;
  flex: 1 0px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dashboard {
  flex: 1;
}

.panel-heading {
  border-bottom: 1px solid #F0F0F0;
  display: inline-block;
  position: relative;
  width: 100%;
  top: 0;
}
.panel-heading .panel-title {
  padding: 10px;
  margin: 0;
}

.panel-body {
  overflow: auto;
  padding: 0 10px 10px;
  position: absolute;
  top: 37px;
  bottom: 0;
  left: 0;
  right: 0;
}

.gridster-item-prototype {
  display: block;
  background-color: #afafaf;
  position: relative;
  float: left;
  z-index: 99;
  text-align: center;
  font-weight: bold;
  margin: 5px;
  width: 80px;
  height: 60px;
}

.gridster-item-prototype.is-over .gridster-item-inner {

  visibility: visible;
}

.gridster-item-prototype .gridster-item-inner {
  position: absolute;
  top:0;
  left: 0;
  overflow: auto;
  width: 80px;
  height: 60px;
  visibility: hidden;

  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.position-highlight .inner {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;

  background-color: #768294;
  border: 1px solid transparent;
  -webkit-transition: background 3s;
  transition: background 3s;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.gridster-item-inner {
  position: absolute;
  background: #fff;
  border: 1px solid transparent;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  -webkit-transition: background 3s;
  transition: background 3s;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.is-dragging .gridster-item-inner {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
  top: -3px;
  bottom: 13px;
}


