﻿/* MODAL STYLES
-------------------------------*/
jw-modal {
    /* modals are hidden by default */
    display: none;

    .jw-modal {
        /* modal container fixed across whole screen */
        position: fixed;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;

        /* z-index must be higher than .jw-modal-background */
        z-index: 1000;
        
        /* enables scrolling for tall modals */
        overflow: auto;

        .jw-modal-body {
            padding: 0;
            margin-right:0;
            // background: #fff;
            // background-color: #B0EBCE;

            /* margin exposes part of the modal background */
            margin-right:50em;
            margin-top:0;
        }

        #container {
            // width: 50em;
            // height: 50em;
            overflow: hidden;
        }
         
        #photo {
            width: 50%;
            animation: switch 5s ease-out infinite;
        }
         
        #photo > img {
            float: left;
            // width: 40em;
            // height: 40em;
        }
         
        @keyframes switch {
            0%, 25% {
                margin-left: 0;
            }
            35%, 60% {
                margin-left: -400px;
            }
            70%, 100% {
                margin-left: -800px;
            }
        }
    }

    .jw-modal-background {
        /* modal background fixed across whole screen */
        // position: fixed;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;

        /* semi-transparent black  */
        // background-color: #000;
        // opacity: 0.75;
        
        /* z-index must be below .jw-modal and above everything else  */
        // z-index: 900;
    }
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;

}


