<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css'>


</head>

<body>
<!--Navbar with logo-->
<nav class="navbar navbar-expand-lg" role="navigation" style="margin-top:3em;">

  <div class="navbar-header d-flex flex-grow-1">
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo-1.png" alt="logo"
           style="max-width: 200px;max-height:200px;margin-left:10em;margin-top:-2em;"/></a>
    <div class="w-100 text-right">
      <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon my-toggler"></span>
      </button>
    </div>

  </div>
  <div id="navbarResponsive" [ngClass]="{'show':navbarOpen}"
       class="collapse navbar-collapse flex-grow-1 text-right show"
       style="font-family: Arial;font-size:2em;margin-top:18px;color:black">

    <ul class="nav navbar-nav ml-auto flex-nowrap">
      <li class="nav-item"><a href="/homepage" class="pill">Home</a></li>
      <li class="nav-item"><a href="/aboutus" class="pill">About Us</a></li>
      <li class="nav-item"><a href="#" class="pill"><img src="assets/img/man-with-beard-in-green-t-shirt-50.png"
                                                         style="margin-top:-1.3em"/>Tom</a></li>
    </ul>
  </div>

</nav>


<!--Upload & Outfit & Weather -->
<!-- Upload and saveTags -->
<div class="container">
  <div *ngIf="tagsSaved" center>
    <div>
      <input class="button-durchsuchen" type="file" (change)="onFileChanged($event)">

      <img [src]="imgURL" height="200" *ngIf="imgURL"/>
    </div>

    <!--<input class="button" type="button" (click)="onUpload()" value="upload">-->
    <button class="btn btn-lg btn-outline-secondary icon-button" value="upload" (click)="onUpload()"><img
      src="assets/img/upload.png" class="tzdx"><span class="category">Upload</span></button>
  </div>

  <br>
  <!--<hr>

  Received Image:

  <img [src]="convertedImage">
  -->
  <!-- field for tag descriptions  -->
  <div *ngIf="descriptions">
    <div *ngIf="tagsSaved == true">
      <div *ngFor="let desc of descriptions">

        <input style="font-size: large" type="text" [ngModel]="desc.description"
               (ngModelChange)="desc.description=$event">
        <!--<input class= "button" type="button" value="delete">-->
      </div>
      <br>
      <!-- <input class= "button" type="button" value="save tags" (click)="saveTags()">-->
      <button class="btn btn-lg btn-outline-secondary icon-button" value="save tags" (click)="saveTags()"><img
        src="assets/img/save.png" class="tzdx"><span class="category">Save Tags</span></button>

    </div>


    <div *ngIf="tagsSaved == false">

      <h2> Tags are saved. </h2>

      <!--<input type="button" value="New Clothing"  onClick="document.location.reload()">-->
      <button class="btn btn-lg btn-outline-secondary icon-button" value="New Clothing"
              onClick="document.location.reload()"><img src="assets/img/add.png" class="tzdx"><span class="category">Add New Clothing</span>
      </button>
    </div>

  </div>
</div>

<!-- Message that tags are saved -->

<!--<div *ngIf="tagsSaved == false">
  <h2>      Tags are saved. </h2>
  <input type="button" value="New Clothing"  onClick="document.location.reload()">
</div>-->
</body>
</html>
